body{
  /* background-color: rgb(221, 214, 214); */
  width: 60%;
  margin: auto;
  margin-top: 40px;
  font-family: 'Inter', sans-serif;
}
.navbar{
  margin: auto;
  display: flex;
  background-color: rgb(250, 68, 98);
  justify-content: center;
  align-items: center;
  height: 70px;
}
.navbar-logo{
  margin-right: 7px;
  height: 30px;
  color: #dadada;
}
.navbar-text{
  color:white;
  font-size: 14.4px;
  font-weight: 500;
  line-height: 17.5px;
  font-style: normal;
  letter-spacing: -7.5%;
}
.hero{
  display: flex;
  color: black;
  background-color: white;
}
.hero-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-img{
  width: 125px;
  height: 168px;
  border-radius: 5px;
  margin-left: 59px;
  margin-right: 19px;
}
.locate-icon{
  color: rgb(250, 68, 98);
}
.hero-text{
  /* display: flex; */
}
.hero-text > a{
  color: #acaaaa;
}